body {
  background-color: black;
  color: rgb(240, 248, 255, .8);
  overflow: hidden;
}

#select-mode {
    margin-bottom: -2rem;
}

#board {
  position: absolute;
  top: 30vh;
  left: 50%;
  border: solid 1px yellow;
  border-radius: 10px;
  box-shadow: 0 0 50px rgba(255, 255, 0, .3) ;
}

#start {
  border: solid 1px yellow; 
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(255, 255, 0, .3) ;
  background-color: yellow;
  font-size: 1rem;
}

#rules {
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0 0 10px rgba(255, 255, 0, .3) ;
    font-size: 14px;
    color: rgb(240, 248, 255, .8);
}

.dropdown {
    margin-top: 1rem;
}

ul {
    list-style-type: none;
}

li {
    padding-left: 40px;
}

nav {
    padding: 0 20px;
    font-size: 20px;
    color: gray;
}

nav a {
    text-decoration: none;
    color: gray;
}


nav a:hover {
    text-decoration: none;
    color: yellow;
}